{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
	<div class="row row-cols-1">
		<div class="col">
			<h1>Přehled skrytých kategorií</h1>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row row-cols-1">
		{% for category in categories %}
		<div class="col">
			<h2>
				<a href="{% url 'category_detail' pk=category.pk %}">{{ category.name }}</a>
				<span class="badge rounded-pill bg-secondary">{{category.no_of_posts}}</span>
				{% if user.is_authenticated %}
				<a href="{% url 'category_publish' pk=category.pk %}"><i class="bi bi-arrow-up-circle"
					style="font-size: 1.5rem;"></i></a>
				{% endif %}
			</h2>
			<p>{{ category.description }}</p>
		{% endfor %}
		</div>
	</div>
</div>

{% endblock %}