{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
	<div class="row row-cols-1">
		<div class="col">
			<h1>Přehled publikovaných fotografií</h1>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row row-cols-auto">
		{% for post in page_obj %}
		<div class="col gx-2 gy-2">
			<div class="card shadow rounded" style="width: 20rem">
				<img src="{{ post.photo.url }}" class="card-img-top" alt="...">
				<div class="card-body">
					<p class="card-text">
						{{ post.title|truncatechars:100 }}<br>
						<b>{{ post.category }}</b>&nbsp;<b>(P{{ post.priority }})</b><br>
						{% if user.is_authenticated %}
						<a href="{% url 'post_edit' pk=post.pk %}?next=post_list"><i class="bi bi-pencil-square"
								style="font-size: 1.5rem;"></i></a>
						<a href="{% url 'post_unpublish' pk=post.pk %}"><i class="bi bi-arrow-down-circle"
								style="font-size: 1.5rem;"></i></a>
						<a href="{% url 'post_remove' pk=post.pk %}"><i class="bi bi-trash"
								style="font-size: 1.5rem;"></i></a>
						<a href="{% url 'post_priority_up' pk=post.pk %}"><i class="bi bi-caret-up"
								style="font-size: 1.5rem;"></i></a>
						<a href="{% url 'post_priority_down' pk=post.pk %}"><i class="bi bi-caret-down"
								style="font-size: 1.5rem;"></i></a>
						{% endif %}
					</p>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>


<div class="container-fluid">
	<div class="row row-cols-auto">
		<div class="col">
			<div class="pagination">
				<span class="step-links">
					{% if page_obj.has_previous %}
					<a href="?page=1">&laquo; první</a>
					<a href="?page={{ page_obj.previous_page_number }}">předchozí</a>
					{% endif %}

					<span class="current">
						Strana {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}.
					</span>

					{% if page_obj.has_next %}
					<a href="?page={{ page_obj.next_page_number }}">další</a>
					<a href="?page={{ page_obj.paginator.num_pages }}">poslední &raquo;</a>
					{% endif %}
				</span>
			</div>
		</div>
	</div>
</div>

{% endblock %}