.content {     
     margin-left: 10px;
     margin-right: 10px;
     margin-top: 10px;
     margin-bottom: 10px;
     
}

.content h1,
.content h1 a,
.content h1 a:visited,
.content h1 a:hover,
.content h1 a:active,
.content h2,
.content h2 a,
.content h2 a:visited,
.content h2 a:hover,
.content h2 a:visited {
     color: #000000;
     font-family: 'Hind Siliguri', sans-serif;
     font-size: 20pt;
     text-decoration: none;
}

.content p {
     color: #000000;
     font-family: 'Hind Siliguri', sans-serif;
     font-size: 10pt;
     text-decoration: none;
}

.content i {
     color: #000000;
}

.post-form textarea, 
.post-form input {
     width: 100%;
}